@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 43% 97%;
    --foreground: 0 0% 10%;
    --card: 38 43% 97%;
    --card-foreground: 0 0% 10%;
    --popover: 38 43% 97%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 0% 10%;
    --primary-foreground: 38 43% 97%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 32 38% 54%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 32 38% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 38 43% 97%;
    --card: 0 0% 10%;
    --card-foreground: 38 43% 97%;
    --popover: 0 0% 10%;
    --popover-foreground: 38 43% 97%;
    --primary: 38 43% 97%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 38 43% 97%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 32 38% 54%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 32 38% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  section {
    @apply py-12 md:py-20;
  }
}
